.buttonDiv {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
}
